{% extends 'base.html' %}

{% block title %} Search {% endblock title %}
<!--This active block is from base.html and from class of navigation bar to active it when we click on specific nav-->
{% block blogactive %} active {% endblock %}


{% block body %}
<div class="container my-3">
    <h2>Search Articles :</h2>
    {% if post|length < 1 %}
    <p>No search results</p>
    Your search query : <b>{{query}}</b> did not match any documents. <br>
    Suggestions:
    <ul>
    <li>Make sure that all words are spelled correctly.</li>
    <li>Try more general keywords.</li>
   <li> Try fewer keywords.</li>
   <li> Try different keywords.</li>
    </ul>

    {% endif %}
    {% for items in post %}
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Article by {{ items.author }}</strong>
            <h3 class="mb-0">{{ items.title }}</h3>
            <div class="mb-1 text-muted">{{ items.timestamp }}</div>
            <p class="card-text mb-auto">{{ items.content| truncatechars:300}}</p>
            <div class="my-2">
            	<a href="/blog/{{ items.slug }}" role="button" class="btn btn-primary">Continue reading</a>
            </div>

        </div>
    </div>
    {% endfor %}
</div>
 {% endblock %}